#transAgendamento {
    position: absolute;
    font: var(--unnamed-font-style-normal) normal bold 28px/42px var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 28px/42px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 400px;
    top: 30%;
    text-align: center;
}

#transRapido {
    position: absolute;
    width: 400px;
    text-align: center;
    top: 38%;
    font: var(--unnamed-font-style-normal) normal 300 16px/25px var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal 300 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#transEvite {
    position: absolute;
    width: 400px;
    top: 46%;
    text-align: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/25px var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0px;
    color: #D2D2D2;
    opacity: 1;
}

#transTransferencia {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    background: var(--unnamed-color-0f5aef) 0% 0% no-repeat padding-box;
    background: #0F5AEF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    font: var(--unnamed-font-style-normal) normal bold 14px/12px var(--unnamed-font-family-poppins);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 14px/12px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#transIconCalendar {
    position: absolute;
    width: 40px;
    height: 44px;
    left: 50%;
    top: 24%;
    transform: translate(-50%, -50%);
    background-image: url('./../../resource/iconCalendar.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#transIconLais {
    position: absolute;
    width: 100px;
    height: 44px;
    left: 50px;
    bottom: 0px;
    background-image: url('./../../resource/iconLais.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#transIconUFRN {
    position: absolute;
    width: 100px;
    height: 44px;
    right: 50px;
    bottom: 8px;
    background-image: url('./../../resource/iconUFRN.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}