#Agendamento {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#agendamentoNav {
    position: absolute;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

#agendamentoOnline {
    position: absolute;
    width: 226px;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
    text-transform: none;
}

#agendamentoOnline>label{
    padding-left: 10px;
    color: var(--unnamed-color-0a0a0a);
    font: normal normal bold 18px/26px Poppins;
    letter-spacing: 0px;
    color: #0A0A0A;
    opacity: 1;
}

#agendamentoMeus, #agendamentoMeusSelect {
    position: absolute;
    width: 220px;
    height: 40px;
    left: 250px;
    top: 50%;
    transform: translate(0, -50%);
    text-transform: none;
}
#agendamentoMeusSelect,  #agendamentoAgendarSelect{
    background-color: #2196f3;
}

#agendamentoMeus>label, #agendamentoAgendar>label{
    padding-left: 10px;
    color: black;
    font-size: 16px;
    font-family: 'Poppins';
}

#agendamentoMeusSelect>label, #agendamentoAgendarSelect>label{
    padding-left: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Poppins';
}

#agendamentoMeusSelect, #agendamentoAgendarSelect{
    color: #FFFFFF;
}

#agendamentoAgendar, #agendamentoAgendarSelect {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 500px;
    top: 50%;
    transform: translate(0, -50%);
    text-transform: none;
}

#agendamentoAvatar {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translate(0, -50%);
}